/*Условие для изменения блоков при маштабировании*/
@media (max-width: 1200px) {
  .fixed_pannel {
    display: none;
  }

  .hidden_menu {
    margin-top: -15px;
  }
  .head_content_right_box {
    display: none;
  }
  .head_show_hidden {
    display: flex;
  }
  #head_main_href {
    margin-left: 15px;

  }
  .index_body_content {
    width: 95%;
    margin-left: 2.5%;
  }
  .skdslider {
    margin: 0px;
    width: 100%;

  }
  #demo1 {
    margin: 0px;
    margin-left: 2.5%;
    width: 100%;
  }
}
